# Fichiers système
.DS_Store
Thumbs.db

# Environnement (secrets)
.env
*.env.local

# Dossiers de corrections/tests
corrections/*

# Volumes locaux (si utilisés)
postgres_data/

# IDE
.idea/
.vscode/
*.swp

# Python
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
.terraform.lock.hcl

# Clés SSH générées
*.pem
